.socials-list, .socials-list-company, .section-about .about-list, .price-list, .features-list, .team-list, .portfolio-list, .contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-box .title, .section-about .title, .section-price .title, .section-features .title, .features-item, .section-team .title, .section-booking .title, .section-contacts .title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: #303030;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #303030;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
  width: 69px;
  height: 56px;
  fill: white;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
    padding-right: 31px;
    padding-left: 31px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 39px;
    padding-left: 39px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.section, .section-about, .section-price, .section-features, .section-team, .section-portfolio, .section-booking, .section-contacts {
  padding-top: 84px;
  padding-bottom: 84px;
}

.text-label {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.text-label::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.text-label.color {
  color: rgba(157, 164, 189, 0.6);
}

.button, .send-btn, .section-about .book-btn, .section-price .book-btn {
  display: inline-block;
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  outline: none;
  transition: background-color 250ms linear, color 250ms ease 50ms;
}

.button:hover, .send-btn:hover, .section-about .book-btn:hover, .section-price .book-btn:hover, .button:focus, .send-btn:focus, .section-about .book-btn:focus, .section-price .book-btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list .socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.socials-link .icon-socials {
  width: 20px;
  height: 20px;
  fill: #303030;
}

.socials-link:hover .icon-socials,
.socials-link:focus .icon-socials {
  fill: #ff6c00;
}

.form-field {
  position: relative;
  margin-bottom: 44px;
}

.label-signup,
.input-signup,
.textarea-signup {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.label-signup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(157, 164, 189, 0.6);
  transition: transform 250ms linear;
}

.label-signup.comment {
  top: 0;
}

.input-signup,
.textarea-signup {
  display: block;
  width: 100%;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

.input-signup:focus + .label-signup,
.input-signup:not(:placeholder-shown) + .label-signup,
.textarea-signup:focus + .label-signup,
.textarea-signup:not(:placeholder-shown) + .label-signup {
  color: #ffffff;
  transform: translateY(-210%);
}

.input-signup:focus,
.textarea-signup:focus {
  border-bottom-color: #ffffff;
}

.textarea-signup {
  padding-top: 0;
  height: 75px;
}

.send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 38px;
  padding-left: 38px;
  color: #ffffff;
}

.socials-list-company {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.socials-list-company::before {
  display: block;
  content: '';
  margin-right: 40px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.socials-list-company .socials-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
}

.socials-list-company .socials-item:not(:last-child) {
  margin-right: 40px;
}

.section-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-navigation {
  display: none;
}

.site-menu {
  display: none;
}

.header-contacts {
  display: none;
}

.menu-btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.menu-btn .icon {
  fill: #ffffff;
}

.menu-btn:hover .icon,
.menu-btn:focus .icon {
  fill: #ff6c00;
}

.section-hero {
  background-color: rgba(25, 28, 38, 0.2);
  background-image: url("../../images/section-hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero .socials-list-company {
  display: none;
}

.hero-box {
  padding-top: 208px;
  padding-bottom: 183px;
}

.hero-box .text-label {
  margin-bottom: 20px;
}

.hero-box .title {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-box .sub-title {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.toggles-list {
  display: none;
}

.section-about .about-list {
  display: none;
}

.section-about .text-label {
  margin-bottom: 20px;
}

.section-about .title {
  margin-bottom: 20px;
  font-size: 28px;
}

.section-about .sub-title {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.62;
  color: #555555;
}

.section-about .text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  color: #555555;
}

.section-price {
  background-color: #111319;
  background-image: url("../../images/section-price/price-mobile.png");
}

.section-price .text-label {
  margin-bottom: 20px;
}

.section-price .title {
  margin-bottom: 44px;
  font-size: 42px;
  color: white;
}

.section-price .book-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.price-list {
  margin-bottom: 50px;
  padding: 30px;
  font-size: 14px;
  line-height: 2.14;
  color: #9da4bd;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-item {
  display: flex;
  align-items: baseline;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-item .decor-line {
  margin-right: 6px;
  margin-left: 6px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.section-features .features-box {
  margin-bottom: 44px;
}

.section-features .text-label {
  margin-bottom: 20px;
}

.section-features .title {
  margin-bottom: 20px;
  font-size: 42px;
}

.section-features .sub-title {
  font-size: 18px;
  line-height: 1.62;
  color: #555555;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.features-item {
  padding: 20px 32px;
  margin-right: 30px;
  width: calc((100% - 2 * 15px) / 2);
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  background-color: #f7f7f7;
}

.features-item:not(:last-child) {
  margin-bottom: 30px;
}

.features-item:nth-child(2n) {
  margin-right: 0;
  transform: translateY(32px);
}

.span-plus {
  margin-left: 2px;
  vertical-align: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #ff6c00;
}

.span-desk {
  margin-top: 6px;
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.01em;
}

.section-team {
  background-color: #f7f7f7;
}

.section-team .text-label {
  margin-bottom: 20px;
}

.section-team .title {
  margin-bottom: 44px;
  font-size: 42px;
}

.team-list .team-item:not(:last-child) {
  margin-bottom: 64px;
}

.team-content {
  padding-top: 30px;
}

.team-content .team-title {
  margin-bottom: 8px;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.389;
  text-align: center;
}

.team-content .team-status {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.357;
  color: #ff6c00;
  text-align: center;
}

.section-portfolio .text-label {
  margin-bottom: 44px;
}

.portfolio-list .portfolio-item:not(:last-child) {
  margin-bottom: 30px;
}

.section-booking {
  background-color: #191c26;
}

.section-booking .title {
  margin-bottom: 44px;
  font-size: 42px;
  color: #ffffff;
  text-align: center;
}

.section-contacts {
  background-color: #191c26;
  background-image: url(../../images/section-contacts/contacts-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-contacts .title {
  margin-bottom: 40px;
  font-size: 42px;
  color: #ffffff;
  text-align: center;
}

.contacts-list {
  margin-bottom: 44px;
}

.contacts-item {
  position: relative;
  padding-left: 40px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-item:nth-child(1)::before {
  background-image: url("../../images/section-contacts/map-pin.svg");
}

.contacts-item:nth-child(2)::before {
  background-image: url("../../images/section-contacts/phone.svg");
}

.contacts-item:nth-child(3)::before {
  background-image: url("../../images/section-contacts/mail.svg");
}

.contacts-link {
  line-height: 1.67;
  color: #9da4bd;
  text-decoration: none;
}

.contacts-link.mail {
  text-decoration: underline;
}

.hours-box .text-label {
  margin-bottom: 20px;
  color: #ffffff;
}

.hours-box .text-label::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.hours-box .hours-text {
  line-height: 1.67;
  color: #9da4bd;
}

.section-footer {
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: #f7f7f7;
}

.section-footer .copy-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  color: #9da4bd;
}

.section-footer .copy-text .copyright {
  margin-right: 6px;
}
/*# sourceMappingURL=main.css.map */