// text cl
$labelCl: rgba(157, 164, 189, 0.6);
$subtitleCl: #9da4bd;
$accentCl: #ff6c00;
$secondaryCl: #555555;
$primaryCl: #303030;
$white: #ffffff;

$secondaryBg: #191c26;
$primaryBg: #f7f7f7;
$priceBg: #111319;
