.section-hero {
  background-color: rgba(25, 28, 38, 0.2);
  background-image: url('../../images/section-hero/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .socials-list-company {
    display: none;
  }
}
