.portfolio-list {
  @extend %list;
  @include for-size(tablet) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  .portfolio-item {
    @include for-size(mobile-only) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }
  }
}
