.about-container {
  @include for-size(tablet) {
    display: flex;
  }
}

.section-about {
  @extend .section;

  .text-label {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 20px;

    @extend %title;
    font-size: 28px;

    @include for-size(desktop) {
      font-size: 42px;
    }
  }
  .sub-title {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.62;
    color: $secondaryCl;

    @include for-size(desktop) {
      font-size: 18px;
      line-height: 1.67;
    }
  }

  .text {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.86;
    color: $secondaryCl;
  }
  .book-btn {
    @extend .button;
  }
}
.about-content {
  @include for-size(tablet) {
    width: calc((100%-30px) / 2);
  }

  @include for-size(desktop) {
    max-width: 500px;
  }
}
