.section-contacts {
  @extend .section;

  background-color: $secondaryBg;
  background-image: url('../images/section-contacts/contacts-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title {
    margin-bottom: 40px;

    @extend %title;
    font-size: 42px;
    color: $white;
    text-align: center;
  }
  .contacts-box {
    font-style: normal;
  }
}
