.section-booking {
  @extend .section;

  .container {
    @include for-size(desktop) {
      width: 625px;
      padding-right: 40px;
    }
  }

  .title {
    margin-bottom: 44px;

    @extend %title;
    font-size: 42px;
    color: $white;

    @include for-size(mobile-only) {
      text-align: center;
    }
  }
}
