.section-features {
  @extend .section;

  .container {
    @include for-size(desktop) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
  }
  .features-box {
    margin-bottom: 44px;
    @media screen and (min-width: 768px) {
      max-width: 500px;
    }
  }

  .text-label {
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 20px;

    @extend %title;
    font-size: 42px;
  }

  .sub-title {
    font-size: 18px;
    line-height: 1.62;
    color: $secondaryCl;

    @include for-size(desktop) {
      line-height: 1.67;
    }
  }
}
