.section-team {
  @extend .section;
  background-color: $primaryBg;

  .text-label {
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 44px;
    @extend %title;
    font-size: 42px;
  }
}

.team-box {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
