.section-price {
  @extend .section;
  background-color: $priceBg;
  background-image: url('../images/section-price/price-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/section-price/price-mobile@2x.png');
  }

  @include for-size(tablet) {
    background-image: url('../images/section-price/price-tablet.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/section-price/price-tablet@2x.png');
    }
  }

  .text-label {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 44px;

    @extend %title;
    font-size: 42px;
    color: white;
  }

  .book-btn {
    @extend .button;
    display: block;
    margin-left: auto;
    margin-right: auto;

    color: $white;
  }
}
