.team-list {
  @extend %list;

  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
  }

  .team-item {
    @media screen and (max-width: 1199px) {
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }

    @include for-size(desktop) {
      width: calc((100% - 2 * 30px) / 3);
    }
  }
}
.team-content {
  padding-top: 30px;

  .team-title {
    margin-bottom: 8px;

    font-size: inherit;
    font-weight: 400;
    line-height: 1.389;
    text-align: center;
  }

  .team-status {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.357;
    color: $accentCl;
    text-align: center;
  }
}
