.logo {
  position: relative;
  z-index: 10;
  display: inline-block;

  @include for-size(tablet) {
    margin-left: 8px;
    margin-right: 62px;
  }
  @include for-size(desktop) {
    margin-left: 0;
    margin-right: 71px;
  }

  .icon-logo {
    width: 68px;
    height: 56px;
    fill: $white;

    @include for-size(tablet) {
      fill: $primaryCl;
    }
  }
}
